.headerMain {
    color: white;
    height: 5rem;
    background: #1B1A55;
    box-sizing: border-box;
}

.headerMain h2 {
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: 900;
}

.headerMain input {
    margin-top: 1.3rem;
    font-weight: 600;
}

.headerMain button {
    height: 2.4rem;
    margin-top: 1.3rem;
    background: white;
    font-weight: 600;
    color: darkslategray;
    margin-left: 0.7rem;
}

.headerMain h5 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    cursor: pointer;
}

.h5 {
    margin-left: 8rem;
}

@media (max-width : 468px) {
    * {
        margin: 0;
        padding: 0;
    }

    .headerMain {
        height: auto;
    }

    .headerMain h2 {
        margin-left: 3.5rem;
    }

    .d-flex {
        flex-direction: column;
    }

    .h5 {
        margin-left: 6rem;
    }

    .cartOption {
        margin-left: 8.5rem;
        position: relative;
        top: -2rem;
    }
}